@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Lexend', sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 25px 15px;
}

header h1{
    font-size: 3em;
}

main {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    text-align: center;
    background-color: black;
    margin: 1em;
    color: white;
    border-radius: 10px;
}


.boxTitle {
    font-family: 'Lexend', sans-serif;
    background-color: gray;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2, 
h4 {
    text-align: center;
    margin: 20px;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.boxBody {
    padding: 10px;
}

.boxBody p {
    text-align: justify;
    font-size: 1.4em;
    padding: 10px;
    margin: 20px;
}

img {
    padding-top: 1em;
    justify-items: center;
    width: 100%;
}

h1, 
h3 {
    padding: 15px;
    line-height: .5em;
    text-align: center;
}
h4 {
    font-size: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: black;
    padding: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
}
footer p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 5px;
}


/*full view*/
@media only screen {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    
    main section:nth-child(3) {
        grid-column: span 1;
    }
}

/*Medium view*/
@media only screen and (max-width: 1400px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
}

/*Small view*/
@media only screen and (max-width: 700px){
    main {
        grid-template-columns: 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 1;
    }
}