/*Small view*/
@media only screen and (max-width: 714px){


    /***************************************
    ************ Header section ************
    ****************************************/
    .header_logo {
        display: flex;
        grid-column: 1;
    }
    

    .header_logo img {
        max-width: 110px;
        max-height: 110px;
    }
    
    nav button {
        background-color: transparent;
        border-radius: 5px;
        color: var(--primary);
        font-size: 2.5rem;
    }

    header h1 {
        font-size: 18px;
        align-self: center;
        justify-content: center;
    }

    /***************************************
    ***************** Main *****************
    ****************************************/

    main {
        padding: 5px;
        margin: 10px;
        display: flex;
        flex-flow: column;
    }
    
    main section p{
        padding: 4%;
        color: var(--main-color);
        font-size: 14px;
    }

    .spotlight p{
        border: solid 1px gray;
        height: 100px;
        margin: 5%;
    }

    .spotlight p:nth-child(3){
        display: none;
    }
    
    main .join{
        display: none;
    }

    /***************************************
    **************** Footer ****************
    ****************************************/

    footer{
        display: flex;
        text-align: center;
        background-color: var(--main-color);
        flex-flow: column;
    }

    .logo {
        max-width: 100px;
        max-height: 100px;
    }

    footer h3 {
        font-size: 30px;
    }

    footer .info_bottom {
        border-top: 1px solid white;
        font-size: 12px;
    }

}