@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

:root {
    
    /* colors */
    --primary: #0084A1;
    --secondary: #FFFFFF;
    --accent1: #09B8AB;
    --accent2: #299218;
    /*Font Colors*/
    --heading-font: 'Roboto', sans-serif;
    --subttitle-font: 'lexend', sans-serif;
    --paragraph-font: 'lexend', sans-serif;
    --footer-notes: 'Roboto Mono', monospace;
  
    /* alternative colors*/
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #215CAD;
    --nav-link-color: black;
    --nav-background-color: white;
    --nav-hover-link-color: #0084A1;
    --nav-hover-background-color: white;
    /*Background colors*/
    --background-color-title: black;
    --background-color-page:white;
    /*Font size*/
    --headline: 2.8rem;
    --subtitle: 1.8rem;
    --paragraph: 1.2rem;
}
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-page);
    color: #000;
    font-family: var(--paragraph-font);
}

/***************************************
************ Header section ************
****************************************/

/*Header section*/
header {
    width: 100%;
    padding: 15px;
    box-shadow: 0 1px 5px
}

.banner_msg {
    text-align: center;
    background-color: var(--primary);
    color: var(--headline-color-on-color);
    padding: 10px;
    margin: 0;
}

.top-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
}

.top-header {
    align-items: center; 
    justify-content: space-between; 
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo img {
    display: inline;
    max-width: 130px;
    max-height: 130px;
    height: auto;
    margin: auto;
}

.headerLogo h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: var(--heading-font);
}

.mainNav {
    margin: 0 25% 0 0;
}

.mainNav ul {
    display: flex;
    font-family: var(--footer-notes);
}

.mainNav ul li a {
    display: block;
    color: var(--nav-link-color);
    font-size: 25px;
    padding: 0 30px;
}

.mainNav ul li a:hover {
    font-size: 30px;
    color: var(--nav-hover-link-color);
    /*
    color: var(--headline-color-on-color);
    background-color: #0084A1;
    border-radius: 5px;
    */
}

nav ul li {
    padding: 0 10px;
}

.hmbrgr {
    display: none;
}

header p {
    display: flex;
    align-self: center;
    justify-content: center;

}

#date {
    font-family: var(--footer-notes);
    padding: 10px; 
}

/***************************************
***************** Main *****************
****************************************/

main {
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}

.discover {
    display: flex;
    margin: 30px;
    gap: 1rem;
    flex-direction: column;
}

.welcome {
    position: relative;
    padding: 0;
}

.welcome img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.welcome h2 {
    position: absolute;
    font-size: 2.5em;
    left: 1.8em;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
}

.welcome button {
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size: 2em;
}

.imageFrame {
    position: relative;
    padding: 0;
}

.imageFrame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.imageFrame h2 {
    position: absolute;
    font-size: 2.5em;
    left: 1.8em;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
}

.imageFrame p {
    font-size: 1em;
    padding: 20px;
}

main section {
    background-color: #0084A1;
    color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 1px 5px 0 gray;
    border-radius: 5px;
    height: auto;
}

main section {
    padding: 5%;
    font-size: 16px;
}

main section:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 2;

}   

main section:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

main section:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}    
main section:nth-child(4) {
    grid-column: 1;
    grid-row:2;
}

main section:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
}
main section:nth-child(6) {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.spotlight {
    display: inline;
    flex-direction: column;
    justify-content: space-between;    
}

.spotlight div {
    border: solid 1px gray;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.spotlight img {
    display: inline;
    height: auto;
    max-width: 230px;
    border-radius: 10px;
    align-content: center;

}

.welcome-bttn, .join-bttn {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
    color: var(--headline-color-on-color);
    background-color: var(--accent2);
    text-decoration: none;
    border: 0;
}

.join-bttn a {
    color: #FFFFFF;
}

.welcome-bttn:hover, .join-bttn:hover {
    transition: 0.5s;
    background-color: var(--accent1);
    cursor: pointer;
}

.weather {
    text-align: center;
}

/***************************************
**************** Footer ****************
****************************************/

footer {
    margin-top: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr 1fr;
    box-shadow: 0 1px 5px 0px gray;
}

footer h3 {
    font-size: 15px;
    font-family: var(--heading-font);
}

footer a img {
    padding: 10px;
    max-width: 80px;
    max-height: 80px;

}

footer p {
    font-size: 15px;
    font-family: var(--footer-notes);
}

footer section img {
    width: 40px;
    display: inline;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.logo {
    margin-left: 20px;
}

.soc_media {
    grid-column: 4;
    grid-row: 1;
}

.info_bottom {
    font-family: var(--footer-notes);
    margin-top: 50px;
    grid-column: 1 / 5;
    grid-row:  2;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

/***************************************
************** Join Menu ***************
****************************************/

form {
/* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    background-color: var(--primary);
    border-radius: 1em;
    color: #FFFFFF;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none; 
}
form li + li {
    margin-top: 1em;
}  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}  
input,
textarea {
    /* To make sure that all text fields have the same font settings
        By default, textareas have a monospace font */
    font: 1em sans-serif;
      
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
      
    /* Match form field borders */
    border: 1px solid #999;
}  
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
      
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
      
    /* Provide space to type some text */
    height: 5em;
}  
.bttn {
    /* Align buttons with the text fields */
    display: flex;
    align-items: center;
    justify-content: center;  
    padding-top: 20px;     
}  

/***************************************
************** Contact ***************
****************************************/
.contact form {
    display: grid;
    grid-gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contact h2, .contact div {
    text-align: center;
    padding: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.contact button {
    background-color: var(--accent2);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/***************************************
**************** weather ****************
****************************************/

.weather {
    /* Add styles for the weather section container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
    
.weather div,
.weather figcaption {
    /* Add styles for the text elements */
    font-size: 1.2em;
    margin-bottom: 10px;
}
    
.weather img {
    /* Add styles for the weather icon */
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}
