/*Medium view*/
@media only screen and (min-width: 50em) {

    /***************************************
    *************** Header *****************
    ****************************************/


    /***************************************
    **************** Main ******************
    ****************************************/
    .product img {
        display: inline;
        max-height: 250px;
        max-width: 250px;
    
    }
    
    .product {
        padding: 15px;
        text-align: center;
    }

    .productBox div:nth-child(3) {
        display: inline;
    }

    .productBox div:nth-child(4) {
        display: none;
    }
    
    /***************************************
    *************** Footer *****************
    ****************************************/


    /***************************************
    *************** weather ****************
    ****************************************/

    /***************************************
    ************** Fresh Page ***************
    ****************************************/

    /***************************************
    ************ About Us Page *************
    ****************************************/
}
