@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
}
.headerBox {
    font-family: 'Lexend', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}
.headerBox img {
    margin: 20px;
    border-radius: 50%;
    width: 90%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#nameTitle {
    font-size: 5em;
    margin: 200px 0px 0px 0px;
    grid-column: 3/5;
    grid-row: 1/2;
}
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#title {
    color: orange;
    font-family: 'Lexend', sans-serif;
    margin: 50px 0px 0px 0px;
    font-size: 2em;
    grid-column: 2/5;
    grid-row: 1/2;
}
li {
    padding-bottom: 30px;
    list-style-type: none;
}
.ulist {
    margin-top: -50px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    grid-column: 2/5;
    grid-row: 2/5;
}
footer {
    color: black;
}
footer p{
    font-family: 'Roboto Mono', monospace;
}